.contTitle{
    margin: 25px 0;
    font-size: 22px;
    font-weight: 700;
}
.EIhr{
    width: 90%;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 60px;
}
.EIhr>hr{
    border: 1px solid #2f5c9d;
    margin: 40px 0;
}
.CallBTN{
    margin: 25px 0;
    width: 100%;
    cursor: default !important;
}
.col84{
    padding-bottom: 60px;
}
.col84>.container>.row>.col-sm-10>.contTitle{
    text-align: center;
}