.meincontact{
    width: 80%;
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.meincontact>.meincontactRow{
    background: #2f5c9d;
    height: 100px;
    width: 100%;
}
.coltitle{
    margin-top:70px;
}
.meincontact>.coltitle>.row{
    margin: 0 -30px;
}
.meincontact .fas{
    font-size: 45px;
    margin: 27px 14px;
    color: #ffffff;
}
.coltitle img {
    width: 100%;
    height: 100%;
}
.contP{
    font-size: 17px;
    color: #ffffff;
    margin-top: 38px;
}
.icMap{
    padding-right: 0 !important;
}
.Col-ic{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.meincontact>.container>.row>.col-sm>.title>div{
    width: 90%;
}
@media  (min-width:992px){
    .row2>.col-sm{
        padding-right: 0;
        padding-left: 0;
    }
    .colRevers>.col-sm>.title{
        margin-left: -40px;
    }
    .row2>.col-sm>.title{
        padding-left: 40px;
    }
    .meincontact>.coltitle>.row{
        margin: 0 -15px;
    }
}

.coltitle .title{
    margin-top: 30px;
}
.coltitle .title> h1{
    color:#2f5c9d;
}
.coltitle .title> p{
    color:#6384b5;
    width: 100%;
}
.coltitle .title>a>.btn-info{
    margin-top: 40px;
    padding: 7px 40px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .meincontact .fas {
        font-size: 30px !important;
        margin: 28px 5px;
        color: #ffffff;
    }
    .contP{
        font-size: 10px !important;
        color: #ffffff;
    }
    .coltitle .title> p {
        font-size: 12px;
        width: 100%;
    }

}
@media (max-width: 1125px){
    .meincontact {
        top: -40px;
    }
    .meincontact>.meincontactRow {
        height: 80px;
    }
    .contP{
        font-size: 12px ;
    }
    .meincontact .fas {
        font-size: 35px;
        margin: 23px 10px;
    }
    .coltitle .title>a>.btn-info {
        margin-top: 10px;
        padding: 7px 40px;
        margin-bottom: 10px;
    }
    .coltitle .title> h1 {
        font-size: 30px;
    }

}
@media (max-width: 1291px){
    .contP {
        font-size: 15px !important;
    }
}
@media (max-width: 1160px){
    .contP {
        font-size: 14px !important;
    }
}
@media (max-width: 1095px){
    .contP {
        font-size: 13px !important;
    }
}
@media (min-width: 992px){
    .coltitle>.colRevers{
        flex-direction: row-reverse;
    }
}
@media (max-width: 991px){

    .coltitle>.row>.colImg{
        flex: 0 0 auto;
        width: 100% !important;
    }
}
@media (max-width: 575px){
    .contP{
       display: none;
    }
    .meincontact>.meincontactRow {
        height: 70px;
    }

    .coltitle>.colRevers>.col-sm>img {
        margin-left: 0;
    }
    .meincontact .fas {
        font-size: 35px !important;
        margin: 18px 10px;
    }
    .meincontact {
        top: -35px;
    }
}
@media (max-width: 425px){
    .meincontact .fas {
        font-size: 35px !important;
        margin: 18px 15px;
    }
    .coltitle>.row>.col-sm>img {
        width: 100% !important;
        height: 100%;
    }
    .coltitle>.colRevers>.col-sm>img {
         margin-left: 0;
    }
    .coltitle .title> h1 {
        font-size: 25px;
    }
}
@media (max-width: 320px) {
    .meincontact>.meincontactRow>.row>.col-4{
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
}