.mein{
    position: relative;
}
.meinheader{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background: rgba(250,250,250,0.5);
}
.img{
    margin: 9px 50px;
    height: 100%;
}
@media (max-width: 768px) {
    .img {
        width: 95px;
        margin: 8px 40px;
    }
    .meinheader {
        position: absolute;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 50px;
        background: rgba(250,250,250,0.5);
    }
}
.hr> hr{
    border: 1px solid rgb(47,92,157);
    width: 12%;
    float: left;
    margin-left: 60px;
}
.span{
    color: #2f5c9d;
    font-size: 35px;
    margin-left: 160px;
    font-weight: 400
}
.comp{
    margin-top: 60px;
}

.coltitle .title> h3 {
    font-weight: 400;
    color: #2f5c9d;
}

@media (max-width: 488px){
    .revers{
        flex-direction: column-reverse;
    }
    .meinheader{
        height: 40px;
    }
    .img {
        width: 85px;
        margin: 4px 40px;
    }
}
