.services>.container{
    margin-top: 30px;
}
.services p{
    color: #2f5c9d;
    text-transform: uppercase;
    padding: 20px 0;
}
.services>.container>.row{
    text-align: center;
}
.services > .container > .row > .col-4{
    padding-bottom: 40px;
}
.serviceTitle {
    margin-left: 110px;
    padding-bottom: 30px;
}
.service2{
    padding-bottom: 13px;
}
.service3{
    padding-bottom: 5px;
}
.service4{
    padding-bottom: 15px;
}
.service6{
    padding-bottom: 18px;
}
@media (max-width: 425px) {
    .serviceTitle {
        font-size: 27px !important;
        margin-left: 30px !important;
    }
}
@media (max-width: 1024px){
    .hr> hr {
        margin-left: 15px;
    }
    .serviceTitle {
        font-size: 35px;
        margin-left: 60px;
    }
}