.Navbar{
    position: fixed;
    width: 100%;
    z-index: 1001;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.navbar-nav>.active{
    cursor: default;
    font-weight: 700;
}
.nav{
    width: 60%;
    padding-top: 10px;
}
.nav-link{
    padding-left: 40px !important;
    color: black !important;
}
.icons{
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: right;
}
.icons>.container>.row>.col-md-auto>div> .fas{
    margin: 0 5px;
    color: #2f5c9d;
}
.icons>.container>.row>.col-md-auto>div>span{
    color: #474747;
}
@media (max-width: 1280px){
    .icons{
        display: none !important;
    }
}